build
dist / media
node_modules
.DS_Store
.env
.env.*
!.env.example
.next
.quality-*/
.vercel
*.tsbuildinfo

# Payload default media upload directory
public/media/
media/
backups/
migration-data/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.test-media/
